 <div class="logo_header">
                    <img src="images/logo.png" width="100px">
                    <h1>Professional Engineers Ontario Student Conference</h1>
                    <% if current_page?(root_url) %>

                    <h2>Proudly Hosted By Engineering Society at Lassonde School of Engineering York University</h2>
                    
                    <%end%>
 </div>