<section>
	<div class="logo_header">
		<img src="images/logo.png" width="100px">
		<h1>Professional Engineers Ontario Student Conference</h1>
	</div>
	<div id="about_content">
		<p>The Professional Engineers Ontario Student Conference (PEOSC) is an annual conference run by the Engineering Student Societies, Council of Ontario and is held by a different University every year. This year, Lassonde Engineering Society at York University has the pleasure of hosting PEOSC where brilliant minds meet to share ideas and collectively reflect on current engineering issues and topics. The goal of the conference is to aid in the professional development and success of student leaders by featuring industry professionals, renowned keynote speakers and professional development workshops. PEOSC reaches out to the most talented and ambitious students from the fifteen accredited engineering faculties across the province.</p>
		<p>This year, the theme of the conference is "Engineers Changing the World", where we will show and encourage the limitless potentials of the entire engineering profession and an engineer’s capacity to create and propagate change in every industry for the good of all. The key to solving world problems lies in the heart of engineers and our goal in the conference is to bring them to reality this November.</p>
	</div>
</section>