<section>
    
        <%= render 'layouts/logo' %>

    <h3 style="padding: 0;">Contact Us</h3>
    <p style="padding: 0;">If you have any questions, or are interested in sponsoring us, please contact any one of the following PEOSC committee members below.</p>
    <H4>Chair</H4>
    <H5>Shenalie Fernando</H5>
    <h5>chair@peosc.com</h5>
    <h4>Finance</h4>
    <h5>Victoria Tran</h5>
    <h5>finance@peosc.com</h5>
    <h4>Communications</h4>
    <h5>Srushti Panda</h5>
    <h5>communications@peosc.com</h5>
    <h4>Logistics</h4>
    <h5>Carl Blacklock, Patrick Hazzard</h5>
    <h5>logistics@peosc.com</h5>
    <h4>Address: York Engineering Society Lassonde 1012M 4700 Keele Street, Toronto, Ontario, Canada M3J 1P3</h4>
</section>