<style type="text/css">

     body {
            background-image:url(image-path('images/bg/bg1.png'));
        }</style>

<div id="heading">
	<%= image_tag("logo.png", width:'100px') %>

	<h1>Professional Engineers Ontario Student Conference</h1>
	                <h2>Proudly Hosted By Engineering Society at Lassonde School of Engineering York University</h2>

</div>
<div id="timer">
	<div id="counter-wrapper">
		<span id="defaultCountdown" class="countdown"></span>
	</div>
	<div id="dates">
		<h3>November 15th-17th 2013</h3>
		<article>
			<p>Follow us on</p>
			<ul>
				<li>
					<a href="https://twitter.com/peoscyu">
						<%= image_tag("twitter.png") %>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/peosc.york?fref=ts">
						<%= image_tag("fb.png") %>
					</a>
				</li>
			</ul>
		</article>
	</div>
	<!-- END Counter -->
</div>