<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
<style type="text/css">
body{
	background:#686868;
}
*{
	color:white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.Absolute-Center {

  overflow: auto;
  margin: auto;
  position: absolute;
  top: 10%; left: 0; bottom: 0; right: 0;
  padding: 20px;
}
</style>

<body>
<div class="Absolute-Center ">
<h1> Mobile browsing is not currently supported.</h1>
	<%= image_tag("sadtab.jpg",width:'50%') %>

<h2> Please revisit us using a destkop browser<h2>
</div>
</body>