    <div class="md-modal md-effect-12" id="modal-12">
            <div class="md-content">
                <div id="cbp-contentslider" class="cbp-contentslider">
                    <ul>
                        <li id="slide1">
                            <h3>Jackie Lee</h3>
                            <div>
                                <div class="cbp-content">
                                    <img src="images/jackie.jpg">
                                    <p>Jackie Lee is currently the CEO of Recruit My Friends, a company that represents top engineers across North America. Jackie will be speaking to students about Global and Local demand in Engineering. Aside from being a CEO of a successful company she is currently following her passion in software and is working on a software start-up called ‘My Dream Closet’ which aims to fuse the worlds of Fashion & Technology. Before founding recruit my friends Jackie earned a Honors Science Degree with a minor in Psychology from the University of Waterloo.</p>
                                </div>
                            </div>
                        </li>
                        <li id="slide2">
                            <h3>Julie Gray</h3>
                            <div>
                                <div class="cbp-content">
                                    <img src="images/julie.jpg">
                                    <p>Throughout her career Julie Gray Lassonde has been the President, CEO and advisor to many corporations and companies. Currently, she holds the position of President and CEO of Shear Diamonds Ltd. In her past Ms. Lassonde-Gray has had 14 years of experience in various financial and engineering fields including time as a Civil Engineer with SNC-Lavalin and investment banker with Macquarie Bank Ltd., in Australia and the U.S.A. She is a wealth of knowledge and holds a Degree in Civil Engineering from Queen's University.</p>
                                </div>
                            </div>
                        </li>
                        <li id="slide3">
                            <h3>Jasminder Brar</h3>
                            <div>
                                <div class="cbp-content">
                                    <img src="images/jasminder.jpg">
                                    <p>He has a history as an engineer and a lawyer and now is the intellectual property counsel for Titan Medical, helping change the world with technological advances in medical devices. Before joining the company, Mr.Brar practiced with a leading Canadian IP law firm. He has also worked as a digital design engineer and a technical marketing engineer with a Silicon Valley-based semiconductor company, and began his engineering career with a telecommunications start-up in Silicon Valley. Mr.Brar holds a law degree and a Bachelor of Science degree in computer engineering, both from the University of Manitoba.</p>
                                </div>
                            </div>
                        </li>
                        <li id="slide4">
                            <h3>Brad Duguid</h3>
                            <div>
                                <div class="cbp-content">
                                    <img src="images/brad.jpg">
                                    <p >Brad Duguid was appointed as the Minister of Training, Colleges and Universities in February of 2013. In this role, he is working closely with students and the post-secondary sector to build a globally competitive post-secondary education system to meet the needs of Ontario students.</p>
                                </div>
                            </div>
                        </li>
                        <li id="slide5">
                            <h3>Jim Gray</h3>
                            <div>
                                <div class="cbp-content">
                                    <img src="images/jim gray.jpg">
                                    <p>Jim is Senior Associate- Communications with Sussex Strategy Group, one of Canada's leading government relations and strategic communications firms. An accomplished communications professional, Jim serves Sussex clients at the senior executive level, developing strategy, managing issues, and providing expert crisis, media and presentation skills coaching. His first book, 'How Leaders Speak', was published in 2010. His second book, 'The Young Leader', is scheduled for release in 2013.</p>
                                </div>
                            </div>
                        </li>
                        <li id="slide6">
                            <h3>Jeannette Chau</h3>
                            <div>
                                <div class="cbp-content">
                                    <img src="images/jeannette.jpg">
                                    <p>Jeannette Chau is the Manager, Student and Government Liaison Programs at Professional Engineers Ontario. Prior to joining Professional Engineers Ontario in 2010, Jeannette spent twenty years in the telecom industry working in progressively expanding roles, beginning her career in Network Services and culminating in Business and Strategic Planning for one of the big 3 telecom companies in Ontario. Jeannette holds a Bachelor of Applied Science in Electrical Engineering from the University of Toronto and a Masters of Business Administration (MBA) in Marketing and Strategic Planning from the Schulich School of Business, York University</p>
                                </div>
                            </div>
                        </li>
                        
                        <li id="slide7">
                            <h3>Mark Halinaty</h3>
                            <div>
                                <div class="cbp-content">
                                    <img src="images/mark.jpg">
                                    <p>Mr. Mark Halinaty is Deputy Country Director for Thales Canada Inc. and Vice President Land & Air Systems.  Prior to this position, he served as Vice President and Managing Director, Defence & Security.  Before that, he was Vice President Operations for Thales Canada overseeing its Transportation, Defence & Security and Aerospace businesses. Formerly, he was Vice President and Technical Director for Thales Canada’s Transportation business unit. Mr. Halinaty holds a degree in Engineering Physics from Queens University (Canada) and an MBA from the University of Toronto.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <nav>
                        <a href="#slide1">
                            <span>Jackie Lee</span>
                        </a>
                        <a href="#slide2">
                            <span>Julie Gray</span>
                        </a>
                        <a href="#slide3">
                            <span>Jasminder Brar</span>
                        </a>
                        <a href="#slide4">
                            <span>Brad Duguid</span>
                        </a>
                        <a href="#slide5">
                            <span>Jim Gray</span>
                        </a>
                        <a href="#slide6">
                            <span>Jeannette Chau</span>
                        </a>
                         <a href="#slide7">
                            <span>Mark Halinaty</span>
                        </a>
                        
                        
                    </nav>
                </div>
                <button class="md-close">Close</button>
            </div>
        </div>
       
<section>
    <%= render 'layouts/logo' %>
    <h3>Speakers at the Event</h3>
    <p>Over the course of PEOSC we will be featuring industry professionals, renowned keynote speakers and professional development workshops for delegates related to the "engineers changing the world". Information on speakers and workshops will be released soon.</p>
    <div class="clearfix buttonbox">
        <button class="md-trigger mapbutton" data-modal="modal-12">Speakers</button>
        <button class="mapbutton closed">Workshop</button>
    </div>
</section>