// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contact{
  background-image: url(image_path("bg/bg7.jpg"));
}.events{
  background-image: url(image_path("bg/bg4.jpg"));
}.speakers{
  background-image: url(image_path("bg/bg3.jpg"));
}.conference{
  background-image: url(image_path("bg/bg5.jpg"));
}.sponsors{
  background-image: url(image_path("bg/bg6.jpg"));
}
.about{
  background-image: url(image_path("bg/bg2.jpg"));
}
.index{
  background-image: url(image_path("bg/bg1.jpg"));
}


     

