<div class="container ">
<div class="component ">
                <!-- Start Nav Structure -->
                <button class="cn-button" id="cn-button">
                    <span class="show">Menu</span>
                </button>
                <div class="cn-wrapper " id="cn-wrapper">
                    <ul class="">
                        <li class="">
                            <a class="animsition-link" href="./">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a class="animsition-link" href="./about.html">
                                <span>About</span>
                            </a>
                        </li>
                        <li>
                            <a class="animsition-link" href="./events.html">
                                <span>PEO Event</span>
                            </a>
                        </li>
                        <li>
                            <a class="animsition-link" href="./conference.html">
                                <span>Conference</span>
                            </a>
                        </li>
                        <li>
                            <a class="animsition-link" href="./speakers.html">
                                <span>Speakers</span>
                            </a>
                        </li>
                        <li>
                            <a class="animsition-link" href="./sponsors.html">
                                <span>Sponsors</span>
                            </a>
                        </li>
                        <li>
                            <a class="animsition-link" href="./contact.html">
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End of Nav Structure -->
            </div>
        </div>